html { 

    background: rgb(252, 226, 235);
    background-size: auto;

}
.suits{
    display: flex;
    justify-content: space-evenly;
    min-height: 50vh;
    align-items: center;
}

.button{
border: solid rgb(53, 147, 175);
border-radius: 50%;
margin: 1em;
padding: 5px;
/* transition: all; */
transition: all .07s ease;
}

#results{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font: 3em sans-serif;
    color: rgb(53, 147, 175);
}

img{
    width: 40px;
}

.selected{
    transform: scale(1.1);
    border-color: darkblue;
    box-shadow: 0 0 1rem darkblue;
    
}

.clicked{
    border-color: black;
    box-shadow: 0 0 1rem black;

}
